<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %}</title>
</head>

<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .first{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        padding: 3em;
    }
</style>

<body>
    <div class="first">
        <h1>Lorem Ipsum</h1>
    </div>
    <a href="/login">Click here to go to login page</a>
</body>
</html>